// 全局公共样式
html,
body,
#app {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 0.28rem;
    line-height: 0.44rem;
    color: #061023;
    background-color: #fff;
    user-select: none;
    font-family: 'PingFang SC', 'Helvetica Neue', Helvetica, v, sans-serif;



    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

#app {
    max-width: 750px;
    margin: 0 auto;
    background-color: #fff;
    line-height: 1;
}

/* 隐藏滚动条但保持滚动功能 */
body::-webkit-scrollbar {
    width: 0;
    height: 0;
}

div {
    box-sizing: border-box;
    transition: all ease .3s;
    font-size: 0.28rem;
}

div::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.max-width {
    max-width: 750px;
}

@media (min-width: 751px) {
    #app {
        max-width: 375px;
        overflow-y: auto;
    }

    .max-width {
        max-width: 375px;
    }

}


// 涨跌效果
.up {
    color: @up !important;
}

.up_bg {
    background-color: @up !important;
}

.down_bg {
    background-color: @down !important;
}

.down {
    color: @down !important;
}

// 页面
.app_scroll {
    width: 100%;
    height: 100%;
    -webkit-overflow-scrolling: touch;
}

.page {
    width: 100%;
    min-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #fff;
    -webkit-overflow-scrolling: touch;
}

.page_loading {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
}

input {
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    font-size: 0.28rem;
}

// 点击水波纹
.ripple_button {
    position: relative;
    // overflow: hidden;
}


@keyframes ripple {
    from {
        transform: translate(-50%, -50%) scale(0);
        background: rgba(1, 76, 250, .2);
    }

    to {
        transform: translate(-50%, -50%) scale(1.5);
        background: transparent;
    }
}

@keyframes ripple2 {
    from {
        transform: translate(-50%, -50%) scale(0);
        background: rgba(227, 227, 227, 0.15);
    }

    to {
        transform: translate(-50%, -50%) scale(1.5);
        background: transparent;
    }
}

.ripple_button::after {
    content: '';
    position: absolute;
    width: 100%;
    padding-top: 100%;
    background: transparent;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}

.ripple_button:active::after {
    animation: ripple .3s ease;
}

.ripple_button2:active::after {
    animation: ripple2 .3s ease;
}

.fn-12 {
    font-size: 12px;
}


/* 针对 Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* 针对 Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}