// 重写vant样式
:root {
    --van-overlay-background: #0000004d !important;
}

.van-toast--loading {
    // 加载框
    background: rgba(0, 0, 0, 0) !important;

    .van-loading {
        color: #555;
    }
}

.van-tabs__nav {
    background-color: transparent !important;
}

.van-button__text {
    // 按钮文案
    font-size: 0.28rem;
    font-weight: 400;
}

.van-button {
    border: none !important;
}

.van-button--disabled {
    // 按钮不置灰
    opacity: 1 !important;
}

.van-button--primary {

    // 按钮点击变色
    &:active {
        background-color: #0039BC !important;
    }
}

.self_van_popup {
    // 弹窗
    background-color: rgba(0, 0, 0, 0) !important;
}

@media (min-width: 751px) {

    .van-popup {
        max-width: 375px !important;
        left: 50% !important;
        transform: translateX(-50%) !important;
    }

    .van-toast {
        left: 0 !important;
        transform: none !important;
    }

}

// 弹窗关闭按钮
.van-popup__close-icon {
    font-size: 0.32erm !important;
    color: #333 !important;
}