// 重写vant样式

.van-toast--loading {
    // 加载框
    background: rgba(0, 0, 0, 0) !important;

    .van-loading {
        color: #555;
    }
}

.van-button__text {
    // 按钮文案
    font-size: 0.28rem;
    font-weight: 400;
}